# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
**/*.ipynb

# Fichiers lourds — données et modèles
*.h5
*.hdf5
*.pt
*.pth
runs/
data/clevr/
sortofclevr/data_*.h5
sortofclevr/data_*.csv
clevr/
style_transfert_data/
model_clevr
model_exec.py
temp.py
script_temporaire.py


model_StyleTransfer.py
# Divers
*.parquet
*.tmp.*
.pre-commit-config.yaml